@font-face {
    font-family:"Gotham-Medium" ;
    src: url(../Fonts/Gotham-Medium.otf);
}
@font-face {
    font-family:"Gotham-Ultra" ;
    src: url(../Fonts/Gotham-Ultra.otf);
}
@font-face {
    font-family:"Gotham-Thin";
    src: url(../Fonts/Gotham-Thin.otf);
}