*{
    padding: 0;
    margin: 0;
}
html , body{
    font-size: 16px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 557px;
    margin: 0 auto;
}
nav{
    background-color: #484848;

}
nav ul{
    display: flex;
    width: 557px;
    margin: 0 auto;

}
nav a {
    display: block;
    /* padding: .5rem 1rem .5rem 0; */
    color: teal;
    padding: .5rem 1rem;
    border-right: 1px solid #ccc;
}
nav a:hover{
    color: tan;
    background-color: aliceblue;
}
